<p>updatepassword works!</p>
<form (ngSubmit)="formSubmit()">
    <!-- User Name field -->
    <mat-form-field class="full-width" appearance="fill">
       <mat-label>Username</mat-label>
       <input [(ngModel)]="password.username" type="text" id="username" name="username" matInput placeholder="Enter Here" required>
       <mat-hint>User name must be unique!!</mat-hint>
     </mat-form-field>
     <!-- Password field -->
     <mat-form-field class="full-width" appearance="fill">
       <mat-label>Password</mat-label>
       <input [(ngModel)]="password.password" type="password" id="password" name="password" pattern="^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[@#$%^&+=!]).{7,15}$" matInput placeholder="Enter Here" required>
     </mat-form-field>
     <!-- newPassword field -->
     <mat-form-field class="full-width" appearance="fill">
       <mat-label>NewPassword</mat-label>
       <input [(ngModel)]="password.newPassword" type="password" id="newPassword" name="newPassword" pattern="^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[@#$%^&+=!]).{7,15}$" matInput placeholder="Enter Here" required>
     </mat-form-field>
     <div class="container text-center">
       <button type="submit" mat-stroked-button color="primary">Update Password</button>
       <button style="margin-left: 20px;" mat-stroked-button color="accent">Clear</button>
     </div>
</form>